


body {
   background-color: #f8f9fa
     
  }



.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }


     /* imagenes */

     @keyframes float {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-10px);
      }
      100% {
          transform: translateY(0);
      }
  }

  .floating-image {
      animation: float 3s ease-in-out infinite;
  }






  